* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

/*header*/

header {
    width: 100%;
    /*note.ombre*/
    /* box-shadow: 0px 2px 0.5em rgb(247, 241, 245); */
    display: inline-block;
    flex-wrap: nowrap;
      background-size: cover;
        background-color: rgb(53, 51, 51);
  background-image: url(header.jpg);
    opacity: 0.95;


}

header nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
background-size: cover;
}
header nav ul li a {
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    color: orangered;
    font-size: 25px;
    list-style: none;


}

.liste {
    width: 70%;
}

.liste ul {
    display: flex;
    justify-content: space-between;

}

a:hover {
    /*passage de la souris sur le menu*/
    color: white;
   
    }
a{
    color: #000;
    text-decoration: none;
}
.tete {
    display: flex;
    align-items: center;
}

h1 {
    font-family: 'Bangers', cursive, sans-serif;
    font-size: 70px;
    display: inline-flex;
    color: orangered;
    text-align: center;
    margin-top: 20px;
}

header i {
    font-size: 70px;
    margin-top: 10px;
}

i {
    color: white;
}

.actus {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    
}

.accueil {
    text-align: center;
    background-image: url(route.jpg) ;opacity:.75;
    background-position: center;
    padding: 20px 0px;
}
.actu img{
    -webkit-transition: all 1s ease;

}
.actu img

.accueil h2 {
    margin-bottom: 20px;
    font-size: 40px;
}

.actu img {
    height: 150px;
    width: 150px;
}

.idee {
    background-image: url(route66.jpg);
    width: 100%;
    height: 1500px;
}

button {
    display: block;
    text-decoration: none;
    list-style: none;
    width: 40px;
    height: 25px;
    background: orangered;
    color: black;
    font-size: 15px;
    margin: 0 auto;
    line-height: 25px;
    text-align: center;
    border-radius: 6px;
    
    
   
    }
.idee {
    background-image: url(route66.jpg);

    background-position: center;
    background-size: cover;
}
.button1{
     display: block;
    width: 120px;
    height: 40px;
    background: orangered;
    color: black;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
}