* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: rgb(12, 11, 11);
}

/*header*/

header {
    width: 100%;
    /*note.ombre*/
    /* box-shadow: 0px 2px 0.5em rgb(247, 241, 245); */
    display: inline-block;
    flex-wrap: nowrap;
    background-size: cover;
    /*
    background-color: rgb(53, 51, 51);*/
    background-image: linear-gradient(rgba(137, 137, 160, 0.5), rgba(173, 173, 167, 0.5)), url(header.jpg);

    border-bottom: 5px solid black;
    position: relative;
}

header nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-size: cover;
}

.liste {
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    color: orangered;
    font-size: 25px;
    list-style: none;
    width: 80%;

}

.carre {
    -webkit-transition: all 1s ease;
    /* Safari et Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -ms-transition: all 1s ease;
    /* Internet Explorer 9 */
    -o-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease;
}

.carre:hover {
    -webkit-transform: scale(1.25);
    /* Safari et Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* Internet Explorer 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
}

.face {
    position: absolute;
    top: 100px;
    left: 20px;
}

.face a {
    font-size: 60px;
    margin-left: 20px;
    margin-top: 20px;
    color: rgb(9, 6, 209);
    position: absolute;


}

.face a:hover {
    transform: rotate(1turn);
}

.face p {
    color: black;
    font-family: 'Bangers', cursive, sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 5px;
}


.liste ul {
    display: flex;
    justify-content: space-between;

}

a:hover {
    /*passage de la souris sur le menu*/
    color: white;

}

a {
    color: #000;
    text-decoration: none;
}

.tete {
    display: flex;
    align-items: center;
}

h1 {
    font-family: 'Bangers', cursive, sans-serif;
    font-size: 70px;
    display: inline-flex;
    color: orangered;
    text-align: center;
    margin-top: 20px;
}

.vay {
    font-size: 250px;
    margin-top: 10px;
    color: white;
}
.actu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.actus {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 20px auto;
    height: 250px;

}

.accueil {
    text-align: center;
    background-position: center;
    padding: 20px 0px;
    margin-bottom: 20px;
    color: white;
}


h2 {
    font-size: 50px;
}

.actu .carre{
     height: 150px;
    width: 150px;
    
}


.actu img {
   height: 100%;
   width: 100%;
object-fit: cover;
}

.idee {

    width: 95%;
    margin: 20px auto;
    height: 100%;
    background: linear-gradient(rgba(137, 137, 160, 0.5), rgba(173, 173, 167, 0.5)), url("route-66.jpg") center;
    border-radius: 50px;

}

.fondidee {

    border-radius: 15px 15px 15px 15px;
}

button {
    display: block;
    text-decoration: none;
    list-style: none;
    width: 40px;
    height: 25px;
    background: orangered;
    color: black;
    font-size: 15px;
    margin: 0 auto;
    line-height: 25px;
    text-align: center;
    border-radius: 6px;


}

.button1 {
    display: block;
    width: 120px;
    height: 40px;
    background: orangered;
    color: black;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
}

/*
.idee {
    display: flex;
    justify-content: space-around;
    align-items: center;
}*/

.partir {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
    font-family: 'Bangers', cursive, sans-serif;

}

.partir h2 {
    font-size: 80px;
}

/*
.partir h2 {
    justify-content: flex-start;
    text-align: left;

.forum {
    background-color: blanchedalmond;
}
*/
.sorties ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-decoration: #000;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    list-style: none;

}

.forum {
    width: 350px;
    height: 350px;

    border-radius: 20px;
    background: linear-gradient(rgba(162, 162, 168, 0.5), rgba(197, 197, 193, 0.5)), url("potes.jpg") center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

h2 {
    font-family: 'Bangers', cursive, sans-serif;
}

.forum p {

    font-family: 'Anton', sans-serif;
    font-size: 25px;
}

.forum h2 {
    margin-left: 20px;
}

.parce {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}

.button2 {
    display: block;
    width: 160px;
    height: 35px;
    background: orangered;
    color: black;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
    font-family: 'Bangers', cursive, sans-serif;

}

.contact {
    width: 350px;
    height: 350px;
    border-radius: 20px;
    background: linear-gradient(rgba(137, 137, 160, 0.5), rgba(179, 179, 137, 0.5)), url("contact.png") center;
    background-repeat: no-repeat;

}

.souci {
    font-family: 'Anton', sans-serif;
    width: 70px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    margin-left: 30px;
    font-size: 20px;



}

.contact h2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: 20px;
}

.fotact {
    display: flex;
    align-items: center;
    justify-content: space-around;
flex-wrap: wrap;

}

.contact a {
    text-decoration: underline;
}

#chouette {
    width: 100%;
    height: 200px;
    background: orangered;
    background-size: cover;
    margin-top: 50px;
}

.copy {
    display: flex;
    justify-content: center;
    border-top-style: double;
}

.copy a {
    text-decoration: underline;
}

.community {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.tem {

    border: 0.2em solid black;
    width: 8em;
    height: 8em;
    padding: 1em;
    border-radius: 100%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    box-shadow: 2px 2px 5px 5px black;

}


.photo {
    width: 350px;
    height: 350px;
    border-radius: 20px;
    background-image: url("./jour.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}



.mot h2 {
    color: antiquewhite;
    display: flex;
    justify-content: center;
}

